@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #1b6ac6;
}

.wrapper {
  max-width: 1260px;
  /* border: 1px solid black; */

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 50px;
}

.main {
  max-width: 1260px;
  background-color: #fff;
  border-radius: 10px;
}

/* Card */

.card {
  max-width: 1260px;
  min-height: 323px;
  /* border: 1px solid black; */
  border-bottom: 1px solid #989898;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 26px;
  gap: 48px;

  position: relative;

  cursor: pointer;
}

.card:hover {
  background-color: #f7f7f7;
}

.card:last-child {
  border: none;
  border-radius: 0 0 10px 10px;
}

.card:first-child {
  border-radius: 10px 10px 0 0;
}

.card_img {
  width: 306px;
  height: 271px;

  border-radius: 10px 0 0 10px;
}

.card_text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.card_text_header {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.card_text_city {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #989898;
  font-family: "Roboto", sans-serif;
}

.card_text_desc {
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #989898;
  font-family: "Roboto", sans-serif;

  margin-top: 25px;
}

.card_text_price {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #000;

  position: absolute;
  bottom: 26px;
  right: 26px;
}
